# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.cache
*.vspscc
*.vssscc

# Rider
.idea/

# NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Test results
[Tt]est[Rr]esult*/
*.trx

# User-specific files
*.rsuser
*.sln.docstates

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store

# Logs
*.log
logs/

# Publish output
publish/
